<a href='/createPost'>Create Post</a>

My posts:

{{#each posts as |post|}}
<section class ="card">
  <a href="/post/{{id}}">
    <h4 class="post" data-post="{{post.id}}">{{title}}</h4>
    <div class="card-body">
      <p>{{content}}</p>
      <p>Posted by: {{user.username}}</p>
      <p>{{createdAt}}</p>
    </div>
  </a>
  <button class="delete">Delete Post</button>
</section>
{{/each}}

<script src="./js/updateDeletePost.js"></script>

